* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.output {
  background-color: #9e9e9e;
  height: 5rem;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output .display-previous {
  color: #575757;
  font-size: 1rem;
}
.output .display-current {
  font-size: 2rem;
}
button {
  border: none;
  border-radius: 1.5rem;
  outline: none;
  font-size: 1.5rem;
  color: #fafafa;
  height: 4rem;
  width: 4rem;
  margin: 0.2rem;
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}
button:active {
  transform: translateY(1.5px);
}

.calculator-wrap {
  display: block;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.block {
  background-color: #191c2f;
}

.num {
  background-color: #121212;
}
