* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Biryani", sans-serif;
}
body {
  background-color: #e3dfff;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator-wrap {
  display: block;
  background-color: black;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 8px 8px 20px 10px rgb(0 0 0 / 20%);
}
.output {
  background-color: #9e9e9e;
  min-height: 6.6rem;
  max-height: 10rem;
  overflow: auto;
  max-width: 281.5px;
  padding: 7px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output .display-previous {
  color: #575757;
  font-size: 1.25rem;
}
.output .display-current {
  font-size: 2rem;
}
button {
  border: none;
  border-radius: 1.5rem;
  outline: none;
  font-size: 1.5rem;
  color: #efefef;
  height: 4rem;
  width: 4rem;
  margin: 0.2rem;
  user-select: none;
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}
button:active {
  transform: translateY(1.5px);
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.block {
  background-color: #191c2f;
}
.num {
  background-color: #121212;
}
